{
	"plugins": [
		["babel-plugin-styled-components", { "pure": true, "ssr": false }],
		"react-hot-loader/babel"
	],
	"presets": [
		[
			"@babel/env",
			{
				"targets": {
					"node": "current"
				}
			}
		],
		"@babel/react"
	]
}
